@import "bootstrap";
@import '@fortawesome/fontawesome-free';

.center {
  text-align: center;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px solid #eaeaea;
  padding-bottom: 15px;
  padding-top: 15px;

}
.listing{
  list-style: none;
  padding-left: 0;
}